header {
	height: 100px;
	background-color: var(--color-blue-dark);
	font-weight: bold;
	/* Layout Inside */
	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	display: flex;
	gap: 40px;
	justify-content: center;
	align-items: center;
}

a.menu-link {
	color: white;
	padding: 10px;
}

a.menu-link:hover {
	background-color: #090e29;
}

#selected-link {
	background-color: #090e29;
}

span.account-link {
	display: inline-block;
	width: 20px;
}

