.hero-section {
	background-color: white;
	margin: 20px auto;
	width: 90%;
	height: 800px;
	border-radius: 5px;
	padding: 40px;
	/* Layout */
	display: grid;
	grid-template-columns: 6fr 4fr;
	gap: 40px;
}

.hero-img {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-img > img {
	width: 80%;
}

.hero-links {
	display: flex;
	justify-content: space-around;
}

.account-link {
	width: 60px;
	height: 60px;
	padding: 10px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.account-link img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

/* Introduction */
