.hero-game {
	max-width: 100%;
}

#game-canvas {
	width: 100%;
	display: block;

	border: 1px solid #333;
	border-radius: 8px;
	background-color: #111;
}

.game-controls {
	display: flex;
	justify-content: space-between;

	margin-top: 8px;

	font-size: 12px;
	color: #777;
}
