@import url(./reset.css);

body {
    font-size: 20px;
    font-family: "Google Sans", sans-serif;
}

/* Header */
header {
	height: 100px;
	background-color: #111844;
	font-weight: bold;
	/* Layout Inside */
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	flex: 1;
}

ul {
	display: flex;
	gap: 40px;
	justify-content: center;
}

.menu-link {
	color: white;
	padding: 10px;
}

.menu-link:hover {
	background-color: #090e29;
}

/* 
4B5694
7288AE
EAE0CF
*/