@import url(./reset.css);
@import url(./def.css);
@import url(./header.css);
@import url(./hero-section.css);
@import url(./hero-game.css);

html {
	font-size: 20px;
	font-family: "Google Sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}
