main {
	margin: 0 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.card {
	max-width: 1000px;
	height: 300px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.card img {
	width: 100%;
}

@media (max-width: 1240px) {
	main {
		margin: 0 20px;
	}

	.card img {
		width: auto;
		height: 100%;
	}
}
