.hero {
	margin: 0 50px;
	display: grid;
	grid-template-columns: 7fr 3fr;
	gap: 20px;
}

.game {
	background-color: black;
}

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.profileImgStyle {
	width: 100%;
}

.profileLinks {
	display: flex;
	gap: 20px;
}

.profileLink {
	display: block;
	width: 30px;
	height: 30px;
}

.profileLink img {
	width: 100%;
}

@media (max-width: 1024px) {
	.hero {
		display: flex;
		flex-direction: column;
	}
	.profile {
		order: -1;
	}
	.game {
		height: 500px;
	}
}
