:root {
	--color-blue-light: #7288ae;
	--color-blue-mid: #4b5694;
	--color-blue-dark: #111844;
	--color-blue-dark-hover: #0a0e2b;
	/* Media */
	/* --media-width-tablet: 1024px; */
	/* --media-width-mobile: 768px; */
}
