/* Navbar.module.css */

.header {
	background-color: var(--color-blue-dark);
	display: flex;
}

.nav {
	flex: 1;
	display: flex;
}

.ul {
	flex: 1;
	padding: 20px;
	/* Layout inside */
	display: flex;
	justify-content: center;
	gap: 30px;
}

.li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuLink {
	padding: 5px 10px;
	text-align: center;
	font-weight: 500;
	color: white;
}

.menuLink:hover {
	background-color: var(--color-blue-dark-hover);
}

@media (max-width: 1240px) {
	.header {
		height: 70px;
	}

	.header .ul {
		gap: 10px;
	}

	.menuLink {
		padding: 8px;
		font-size: 0.85rem;
	}
}
