@import url("/css/reset.css");

html {
    font-size: 20px;
    font-family: "Google Sans", sans-serif;
}

/* Header */
header {
	height: 100px;
	background-color: #111844;
	font-weight: bold;
	/* Layout Inside */
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	flex: 1;
}

ul {
	display: flex;
	gap: 40px;
	justify-content: center;
}

a.menu-link {
	color: white;
	padding: 10px;
}

a.menu-link:hover {
	background-color: #090e29;
}

/* Main */
main {
	padding: 50px;
	background-color: #4B5694;
	/* Layout inside */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.blog {
	box-shadow: 5px 5px 15px #313862;
	border: 3px solid black;
	padding: 20px;
	border-radius: 10px;
	width: 45%;
	background-color: white;
	/* Layout inside */
	display: flex;
	flex-direction: column;
	gap: 10px;
}

h1 {
	font-size: 1.4rem;
}

em {
	color: rgb(120, 120, 120);
}

.read {
	align-self: flex-end;
	background-color: #111844;
	padding: 8px 15px;
	color: white;
	font-weight: bold;
}
